<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header class="topbar">
        <nav class="navbar">
            <div class="logo">
                <h4>es<span>_</span>coole</h4>
            </div>
            <div class="navlink">
                <ul>
                    <li> <a href="#">Conection</a> </li>
                    <li> <a href="#">Register</a> </li>
                    <li> <a href="#">Offre</a> </li>
                    <li> <a href="#">Cour</a> </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>